*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

.minus, .plus, .delete{
cursor: pointer;
}

/* navbar section */
.cart a{
  text-decoration: none;
}

.cart-badge {
  position: relative;
  top: -30px;
  right: -11px;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-left: 11rem;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}

.navbar{
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo{
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
}

.n, .c{
  color: rgb(255, 255, 255);
}

.n:link{
  text-decoration: none!important;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.n:hover{
  color: rgb(219, 219, 219);
}


.nav-li{
  text-align: center;
  margin-left: 2rem;
  list-style: none;
  box-sizing: border-box;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;   
  margin-top: 1rem; 
}

.nav-center{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav-container{
  display: flex;
  text-align: center;
  margin-left: 26rem;
  margin-bottom: 5rem;
}

.fa-solid{
  margin-top: 4rem;
  margin-left: 10rem;
}

/* Checkout section */


.checkout-js{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-style: solid none none none;
}

.item-name, .item-color, .item-price{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.item-image{
  margin-right: 2rem;
  margin-top: 1rem;
}

.delete{
  margin-left: 15rem;
  cursor: pointer;
}

.checkout{
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-left: 10rem;
}

.checkout-container{
  width: 60%;
  margin-right: 2rem;
}


.checkout-summary{
  width: 35%;
  text-align: center;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 15px;
  margin-top: 1rem;
  margin-right: 7rem;
  margin-left: 7rem;
}


.checkout-header, .sub-money, .btn{
  font-weight: 300;
}

.checkout-header{
  font-size: 36px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}

.sub-money{
  margin-top: 2rem;
}

.mid{
  opacity: 53%;
  font-size: 24px;
}

.low{
  font-size: 28px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}


.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #169b2d;
  padding: 10px 0;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.btn:hover {
  background: #138025;
  text-decoration: none;
}

.checkout-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-left: 25rem;
}



  /* footer section */

  .footer-container{
    display: flex;
    background-color: #000000;
    margin-top: 5rem;
    padding: 3rem 11rem 3rem 11rem;
  }

  .footer-heading{
    color: white;
    margin-right: 8rem;
  }

  .company-links{
    margin-right: 8rem;
  }

  .company-info{
    margin-right: 3rem;
  }

  .info{
    font-size: 18px;
    font-weight: 300;
    color: white;
    list-style: none;
    line-height: 2;
    cursor: pointer;
  }

  .info:hover{
    color: #7c7c7c;
  } 

  @media screen and (max-width: 1180px){
    /* navbar section */

.cart-badge {
position: relative;
top: -30px;
right: -10px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 4rem;
font-size: 8px;
display: inline-block;
text-align: center;
}


.nav-li{
text-align: center;
margin-left: 1rem;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 21rem;
}

.fa-cart-shopping{
margin-top: 4rem;
margin-left: 3rem;
}


.checkout-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-left: 15rem;
}

/* footer section */

.footer-container{
display: flex;
background-color: #000000;
margin-top: 8rem;
padding: 3rem 2rem 3rem 15rem;
}

.footer-heading{
color: white;
margin-right: 3rem;
}

.company-links{
margin-right: 2rem;
}

.company-info{
margin-right: 3rem;
}

.info{
font-size: 15px;
font-weight: 300;
color: white;
list-style: none;
line-height: 2;
cursor: pointer;
}

  
}

@media screen and (max-width: 1024px){
   /* navbar section */

.cart-badge {
position: relative;
top: -30px;
right: -11px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 6.1rem;
font-size: 8px;
display: inline-block;
text-align: center;
}

.logo{
font-weight: 900;
font-size: 40px;
color: #ffffff;
}

.nav-li{
text-align: center;
margin-left: 1rem;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 10rem;
}

.fa-cart-shopping{
margin-top: 4rem;
margin-left: 5rem;
}

/* checkout section */

.checkout-js{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-style: solid none none none;
}

.item-name, .item-color, .item-price{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.item-image{
  margin-right: 2rem;
  margin-top: 1rem;
}

.delete{
  margin-left: 5rem;
  cursor: pointer;
}

.checkout{
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-left: 1.5rem;
}

.checkout-container{
  width: 60%;
  margin-right: 1rem;
}


.checkout-summary{
  width: 35%;
  text-align: center;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 15px;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
}


.checkout-header, .sub-money, .btn{
  font-weight: 300;
}

.checkout-header{
  font-size: 36px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}

.sub-money{
  margin-top: 2rem;
}

.mid{
  opacity: 53%;
  font-size: 24px;
}

.low{
  font-size: 28px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}


.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #169b2d;
  padding: 10px 0;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.btn:hover {
  background: #138025;
  text-decoration: none;
}

.checkout-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-left: 15rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/* footer section */

.footer-container{
display: flex;
background-color: #000000;
margin-top: 8rem;
padding: 3rem 2rem 3rem 9rem;
}

.footer-heading{
color: white;
margin-right: 3rem;
}

.company-links{
margin-right: 2rem;
}

.company-info{
margin-right: 3rem;
}

.info{
font-size: 15px;
font-weight: 300;
color: white;
list-style: none;
line-height: 2;
cursor: pointer;
}

}


@media screen and (max-width: 430px){
/* navbar section */

.cart-badge {
position: relative;
top: -28px;
right: -10px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 1rem;
font-size: 10px;
display: inline-block;
text-align: center;
}

.logo{
font-weight: 900;
font-size: 25px;
color: #ffffff;
}

.nav-li{
text-align: center;
margin-left: 8px;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 3.5rem;
}

.n:link{
text-decoration: none!important;
color: rgb(255, 255, 255);
font-size: 12px;
} 

.fa-solid{
margin-top: 3rem;
margin-left: 8px;
}

.fa-2xl{
font-size: 24px;
}

/* checkout section */

.checkout-js{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-style: solid none none none;
}

.item-name, .item-color, .item-price{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.item-image{
  margin-right: 2rem;
  margin-top: 1rem;
}

.delete{
  margin-left: 2rem;
  cursor: pointer;
}

.checkout{
  display: inline-block; 
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-left: 1rem;
}

.checkout-container{
  width: 100%;
  margin-right: 1rem;
}


.checkout-summary{
  width: 70%;
  text-align: center;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 15px;
  margin-top: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}


.checkout-header, .sub-money, .btn{
  font-weight: 300;
}

.checkout-header{
  font-size: 36px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}

.sub-money{
  margin-top: 2rem;
}

.mid{
  opacity: 53%;
  font-size: 24px;
}

.low{
  font-size: 28px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}


.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #169b2d;
  padding: 10px 0;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.btn:hover {
  background: #138025;
  text-decoration: none;
}

.checkout-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  margin-left: 0rem;
}


    /* footer section */

.footer-container{
  display: inline-block;
  background-color: #000000;
  margin-top: 8rem;
  padding: 5rem 8rem 3rem 5rem;
}

.footer-heading{
  color: white;
  margin-right: 1rem;
}

.company-links{
  margin-right: 1rem;
  margin-top: 1rem;
}

.company-info{
  margin-right: 1rem;
}

.info{
  font-size: 15px;
  font-weight: 300;
  color: white;
  list-style: none;
  line-height: 2;
  cursor: pointer;
}
}