*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

.minus, .plus, .delete{
cursor: pointer;
}

/* navbar section */

.navbar{
  background-color: #000000;
}

.logo{
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
}

.n, .c{
  color: rgb(255, 255, 255);
}

.n:link{
  text-decoration: none!important;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.n:hover{
  color: rgb(219, 219, 219);
}


.nav-li{
  text-align: center;
  margin-left: 2rem;
  list-style: none;
  box-sizing: border-box;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;   
  margin-top: 1rem; 
}

.nav-center{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.nav-container{
  display: flex;
  text-align: center;
  margin-left: 26rem;
  margin-bottom: 5rem;
}

.fa-solid{
  margin-top: 6rem;
  margin-left: 10rem;
}

/* Checkout section */


.checkout-js{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-style: solid none none none;
}

.item-name, .item-color, .item-price{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.item-image{
  margin-right: 2rem;
  margin-top: 1rem;
}

.delete{
  margin-left: 15rem;
  cursor: pointer;
}

.checkout{
    display: flex; 
    display: flex; 
    align-items: center;
  display: flex; 
    align-items: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.checkout-container{
  width: 60%;
  margin-right: 2rem;
}


.checkout-summary{
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 10rem;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 15px;
  
}


.checkout-header, .sub-money, .btn{
  font-weight: 300;
}

.checkout-header{
  font-size: 36px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}

.sub-money{
  margin-top: 2rem;
}

.mid{
  opacity: 53%;
  font-size: 24px;
}

.low{
  font-size: 28px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #000
}


.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #169b2d;
  padding: 10px 0;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.btn:hover {
  background: #138025;
  text-decoration: none;
}

.checkout-text{
  text-align: center;
  font-size: 25px;
  margin: 10rem;
}



  /* footer section */

  .footer-container{
    display: flex;
    background-color: #000000;
    margin-top: 5rem;
    padding: 3rem 11rem 3rem 11rem;
  }

  .footer-heading{
    color: white;
    margin-right: 8rem;
  }

  .company-links{
    margin-right: 8rem;
  }

  .company-info{
    margin-right: 3rem;
  }

  .info{
    font-size: 18px;
    font-weight: 300;
    color: white;
    list-style: none;
    line-height: 2;
    cursor: pointer;
  }

  .info:hover{
    color: #7c7c7c;
  } 