*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* navbar section */

.logo{
    font-weight: 900;
    font-size: 50px;
}

a{
    color: black;
}

a:link{
    text-decoration: none!important;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

a:hover{
    color: rgb(173, 129, 39);
}


li{
    text-align: center;
    margin-left: 2rem;
    list-style: none;
    box-sizing: border-box;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 1rem; 
}

.nav-center{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.nav-container{
    display: flex;
    text-align: center;
    margin-left: 26rem;
}

.fa-solid{
    margin-top: 6rem;
    margin-left: 10rem;
}


/* home intro section */

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
    margin-left: 14rem;
}
.home-sunphoto{
    width: 835.39px;
    height: 496.18px;
    border-radius: 50px;
    position: relative;
    
}

.home-text{
    background-color: #bb9306;
    border-radius: 100px;
    padding-top: 5rem;
    padding-bottom: 15rem;
    margin-right: 28rem;
    margin-left: 28rem;
    position: absolute;
    transform: translate(-160%, 5%);
}





