*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}

label{
    font-weight: 900;
    font-size: 50px;
}

a:link{
    text-decoration: none!important;
    color: black;
    font-size: 20px;
}

a:hover{
    color: rgb(173, 129, 39);
}

li{
    text-align: center;
    margin-left: 1rem;
    list-style: none;
    box-sizing: border-box;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;    
}

.nav-center{
    text-align: center;
}

.home-sunphoto{
    width: 835.39px;
    height: 496.18px;
    border-radius: 50px;
}

.home-text{
    background-color: rgb(159, 144, 41);
    margin-right: 70rem;
    border-radius: 100px;
    padding-top: 5rem;
    padding-bottom: 7rem;
}

