*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* navbar section */

.navbar{
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo{
  font-weight: 900;
  font-size: 50px;
  color: #ffffff;
}

.n, .c{
  color: rgb(255, 255, 255);
}

.n:link{
  text-decoration: none!important;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.n:hover{
  color: rgb(219, 219, 219);
}


.nav-li{
  text-align: center;
  margin-left: 2rem;
  list-style: none;
  box-sizing: border-box;
}

.nav-items{
  display: flex;
  justify-content: center;
  align-items: center;   
  margin-top: 1rem; 
}

.nav-center{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nav-container{
  display: flex;
  text-align: center;
  margin-left: 26rem;
}

.fa-solid{
  margin-top: 4rem;
  margin-left: 10rem;
}


/* Tracking Section */

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 29rem 10rem 29rem;
}

.text-js{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.contact-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.holder{
  border-radius: 13px;
  padding: 20px 80px 20px 70px;
  background: #d9d9d9;
  border: solid #d9d9d9 1px;
}


.btn{
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #000000;
  padding: 10px 30px 10px 30px;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2rem;
 
  cursor: pointer;
  letter-spacing: 1px;
}

  /* footer section */

  .footer-container{
    display: flex;
    background-color: #000000;
    margin-top: 5rem;
    padding: 3rem 11rem 3rem 11rem;
  }

  .footer-heading{
    color: white;
    margin-right: 8rem;
  }

  .company-links{
    margin-right: 8rem;
  }

  .company-info{
    margin-right: 3rem;
  }

  .info{
    font-size: 18px;
    font-weight: 300;
    color: white;
    list-style: none;
    line-height: 2;
    cursor: pointer;
  }

  .info:hover{
    color: #7c7c7c;
  }

  @media screen and (max-width: 1180px){
    /* navbar section */

.cart-badge {
position: relative;
top: -30px;
right: -10px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 4rem;
font-size: 8px;
display: inline-block;
text-align: center;
}


.nav-li{
text-align: center;
margin-left: 1rem;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 21rem;
}

.fa-cart-shopping{
margin-top: 4rem;
margin-left: 3rem;
}

/* footer section */

.footer-container{
display: flex;
background-color: #000000;
margin-top: 8rem;
padding: 3rem 2rem 3rem 15rem;
}

.footer-heading{
color: white;
margin-right: 3rem;
}

.company-links{
margin-right: 2rem;
}

.company-info{
margin-right: 3rem;
}

.info{
font-size: 15px;
font-weight: 300;
color: white;
list-style: none;
line-height: 2;
cursor: pointer;
}

/* Tracking Section */

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 23rem 10rem 23rem;
}

.text-js{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.contact-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.holder{
  border-radius: 13px;
  padding: 20px 80px 20px 70px;
  background: #d9d9d9;
  border: solid #d9d9d9 1px;
}


.btn{
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #000000;
  padding: 10px 30px 10px 30px;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2rem;
 
  cursor: pointer;
  letter-spacing: 1px;
}


  
}

@media screen and (max-width: 1024px){
   /* navbar section */

.cart-badge {
position: relative;
top: -30px;
right: -11px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 6.1rem;
font-size: 8px;
display: inline-block;
text-align: center;
}

.logo{
font-weight: 900;
font-size: 40px;
color: #ffffff;
}

.nav-li{
text-align: center;
margin-left: 1rem;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 10rem;
}

.fa-cart-shopping{
margin-top: 4rem;
margin-left: 5rem;
}

/* Tracking Section */

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 15em 20rem 15rem;
}

.text-js{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 20rem;
}

.contact-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.holder{
  border-radius: 13px;
  padding: 20px 80px 20px 70px;
  background: #d9d9d9;
  border: solid #d9d9d9 1px;
}


.btn{
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  background: #000000;
  padding: 10px 30px 10px 30px;
  border: solid #000000 1px;
  text-decoration: none;
  margin-top: 2rem;
  cursor: pointer;
  letter-spacing: 1px;
}



/* footer section */


.footer-container{
  display: flex;
  background-color: #000000;
  margin-top: 8rem;
  padding: 3rem 2rem 3rem 5rem;
}

.footer-heading{
  color: white;
  margin-right: 3rem;
}

.company-links{
  margin-right: 2rem;
}

.company-info{
  margin-right: 3rem;
}

.info{
  font-size: 15px;
  font-weight: 300;
  color: white;
  list-style: none;
  line-height: 2;
  cursor: pointer;
}

}


@media screen and (max-width: 430px){
/* navbar section */

.cart-badge {
position: relative;
top: -28px;
right: -10px;
background-color: red;
color: white;
border-radius: 50%;
margin-left: 1rem;
font-size: 10px;
display: inline-block;
text-align: center;
}

.logo{
font-weight: 900;
font-size: 25px;
color: #ffffff;
}

.nav-li{
text-align: center;
margin-left: 8px;
list-style: none;
box-sizing: border-box;
}

.nav-container{
display: flex;
text-align: center;
margin-left: 3.5rem;
}

.n:link{
text-decoration: none!important;
color: rgb(255, 255, 255);
font-size: 12px;
} 

.fa-solid{
margin-top: 3rem;
margin-left: 8px;
}

.fa-2xl{
font-size: 24px;
}


    /* footer section */

.footer-container{
  display: inline-block;
  background-color: #000000;
  margin-top: 8rem;
  padding: 5rem 8rem 3rem 5rem;
}

.footer-heading{
  color: white;
  margin-right: 1rem;
}

.company-links{
  margin-right: 1rem;
  margin-top: 1rem;
}

.company-info{
  margin-right: 1rem;
}

.info{
  font-size: 15px;
  font-weight: 300;
  color: white;
  list-style: none;
  line-height: 2;
  cursor: pointer;
}
}